:root {
  --main-color-text: #212121;
  --accent-color-text: #2196F3;
  --secondary-color-text: #757575;
  --additional-color: #ffffff;
  --background-color: #2F303A ;
}

body {
  background-color: var(--additional-color);
  color: var(--main-color-text);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* studio */
.header {
  display: flex;
  align-items: center;
}

.logo {
  text-decoration: none;
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--accent-color-text);
}

.logo-color-top {
  color: var(--main-color-text);
}

.logo-color-footer {
  color: var(--additional-color);
}

.contacts-header__style {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--secondary-color-text);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-header {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  margin-left: auto;
}
.contacts-header__mail-icon {
  margin-right: 10px;
  width: 16px;
  height: 12px;
  fill: currentColor;
}
.contacts-header__phone-icon {
  margin-right: 10px;
  width: 10px;
  height: 16px;
  fill: currentColor;
}
.contacts-header__item + .contacts-header__item {
  margin-left: 50px;
}
.contacts-header__style:hover, .contacts-header__style:focus {
  color: var(--accent-color-text);
}

.site-nav {
  display: flex;
  margin-left: 93px;
  list-style-type: none;
  padding-left: 0;
}
.site-nav__item:not(:last-child) {
  margin-right: 50px;
}
.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  list-style-type: none;
  color: var(--main-color-text);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color-text);
}
.site-nav__link--accent {
  position: relative;
  color: var(--accent-color-text);
}
.site-nav__link--accent::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color-text);
  left: 0;
  bottom: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 2px;
}

.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/main.jpg");
  background-color: var(--background-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero__header {
  align-items: center;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--additional-color);
  margin-left: auto;
  margin-right: auto;
}
.hero__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.06em;
  background: var(--accent-color-text);
  color: var(--additional-color);
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 30px;
  border: transparent;
  cursor: pointer;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) translateY(-100%);
}

.modal {
  text-align: start;
  padding: 40px;
  position: absolute;
  width: 528px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateY(0);
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms;
}
.modal__button {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 6px;
  margin-top: 8px;
  margin-right: 8px;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: var(--additional-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
.modal__button:hover {
  fill: var(--accent-color-text);
}
.modal__icon-close {
  width: 18px;
  height: 18px;
}
.modal__tittle {
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 12px;
  color: var(--main-color-text);
}

.form {
  display: block;
}
.form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 40px;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--main-color-text);
}
.form__label {
  display: block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  letter-spacing: 0.01em;
  color: var(--secondary-color-text);
}
.form__field {
  position: relative;
  margin-bottom: 10px;
}
.form__icons {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 15px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:focus ~ .form__icons {
  fill: var(--accent-color-text);
}
.form__comments {
  display: block;
  min-height: 120px;
  width: 100%;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  cursor: pointer;
}
.form__comments::-moz-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__comments:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__comments::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.form__checkbox:checked + .form__agreement::before {
  background-image: url("../images/icon-check.svg");
  background-color: var(--accent-color-text);
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
  border-color: transparent;
}
.form__agreement {
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 30px;
  color: var(--secondary-color-text);
}
.form__agreement::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-color-text);
  border-radius: 2px;
  margin-right: 8.38px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__conditions {
  color: var(--accent-color-text);
}
.form__submit-button {
  display: flex;
  justify-content: center;
  font-size: 16px;
  line-height: 1.9;
  width: 200px;
  padding: 10px 55px;
  margin-left: auto;
  margin-right: auto;
  color: var(--additional-color);
  background-color: var(--accent-color-text);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-width: 0;
  cursor: pointer;
}

.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features-list {
  list-style-type: none;
  padding-left: 0;
  display: flex;
}
.features-list__tittle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--main-color-text);
  text-transform: uppercase;
  margin-bottom: 10px;
}
.features-list__text {
  font-size: 14px;
  line-height: 1.7;
  color: var(--secondary-color-text);
}
.features-list__item {
  width: 270px;
  margin-right: 30px;
}
.features-list__item:last-child {
  margin-right: 0;
}
.features-list__item::before {
  display: block;
  content: "";
  height: 120px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: #F5F4FA;
  margin-bottom: 30px;
  border-radius: 4px;
}

.icon-details::before {
  background-image: url("../images/group1.svg");
}

.icon-time::before {
  background-image: url("../images/group2.svg");
}

.icon-plans::before {
  background-image: url("../images/group3.svg");
}

.icon-tech::before {
  background-image: url("../images/group4.svg");
}

.our-work {
  padding-bottom: 94px;
}
.our-work__tittle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--main-color-text);
  text-align: center;
  margin-bottom: 50px;
}

.work {
  display: flex;
  list-style-type: none;
  padding-left: 0;
}
.work__item + .work__item {
  margin-left: 30px;
}
.work__thumb {
  position: relative;
}
.work__desktop {
  position: absolute;
  top: 75%;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--additional-color);
}
.work__mobile {
  position: absolute;
  top: 75%;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--additional-color);
}
.work__design {
  position: absolute;
  top: 75%;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--additional-color);
}

.team {
  background: #F5F4FA;
  padding-bottom: 94px;
  padding-top: 94px;
}
.team__header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
  color: var(--main-color-text);
}

.team-box {
  display: flex;
  list-style-type: none;
  padding-left: 0;
}
.team-box__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--additional-color);
}
.team-box__item + .team-box__item {
  margin-left: 30px;
}
.team-box__tittle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--main-color-text);
  margin-bottom: 10px;
}
.team-box__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: var(--secondary-color-text);
}
.team-box__description {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.social-list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-left: 0;
  margin-top: 16px;
}
.social-list__link {
  width: 44px;
  height: 44px;
  display: block;
  padding: 12px;
  color: #AFB1B8;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__item {
  margin-right: 10px;
}
.social-list__link:hover, .social-list__link:focus {
  color: var(--additional-color);
  background-color: var(--accent-color-text);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-left: 0;
}
.clients-list .clients-list__link {
  display: flex;
  justify-content: center;
  color: #AFB1B8;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  padding: 16px 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__tittle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}
.clients-list__icon {
  fill: currentColor;
  width: 106px;
  height: 60px;
}
.clients-list__link:hover, .clients-list__link:focus {
  color: var(--accent-color-text);
  border: 1px solid var(--accent-color-text);
}

.footer {
  background-color: var(--background-color);
  display: flex;
}
.footer__style {
  display: flex;
  flex-direction: row;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__logo {
  display: block;
  margin-bottom: 20px;
  text-decoration: none;
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--accent-color-text);
}
.footer__adress {
  display: block;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  color: var(--additional-color);
  margin-bottom: 9px;
}
.footer__contacts {
  font-weight: 400;
  display: block;
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
}
.footer__contacts + .footer__contacts {
  margin-top: 9px;
}

.footer-socials {
  display: block;
  margin-left: 70px;
  margin-top: 12px;
}
.footer-socials__link {
  display: inline-block;
  padding: 12px;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-socials__tittle {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--additional-color);
  margin-bottom: 20px;
}
.footer-socials__link:hover,
.footer-socials .footer-socials__link:focus {
  background-color: var(--accent-color-text);
}
.footer-socials__icon {
  width: 20px;
  height: 20px;
  fill: var(--additional-color);
}
.footer-socials__list {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
}

.form-footer {
  margin-left: auto;
  margin-top: 12px;
}
.form-footer__header {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--additional-color);
}
.form-footer__subscribe {
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  border-width: 0;
  background: var(--accent-color-text);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: 12px;
  color: var(--additional-color);
  text-decoration: none;
  cursor: pointer;
}
.form-footer__subscribe::after {
  content: "";
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url("../images/icon-send.svg");
  background-size: contain;
}
.form-footer__email {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--background-color);
  color: var(--additional-color);
}
.form-footer__email::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.form-footer__email:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.form-footer__email::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

/* portfolio*/
.header-border {
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: #ececec;
}

.main-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0;
}
.cards__categories {
  color: var(--secondary-color-text);
  font-size: 16px;
  line-height: 1.9;
  margin-left: 24px;
}
.cards__tittle {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color-text);
  margin-bottom: 4px;
  margin-left: 24px;
}
.cards__project-name {
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #EEEEEE;
  border-top: transparent;
}
.cards__item {
  margin-right: 30px;
  margin-bottom: 30px;
  background: var(--additional-color);
  box-sizing: border-box;
}
.cards__box {
  position: relative;
  overflow: hidden;
}
.cards__overlay {
  position: absolute;
  padding: 63px 24px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cards__overlay > p {
  font-size: 18px;
  line-height: 1.6;
  color: var(--additional-color);
}
.cards__item:nth-child(3n) {
  margin-right: 0;
}
.cards__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}
.cards__item:hover, .cards__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}
.cards__item:hover .cards__overlay {
  transform: translateY(0);
}

.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  list-style: none;
  padding-left: 0;
}

.buttons__item + .buttons__item {
  margin-left: 8px;
}

.buttons__nav {
  font-size: 16px;
  line-height: 1.62;
  color: var(--main-color-text);
  font-weight: 500;
  cursor: pointer;
  font-family: "Roboto";
  text-align: center;
  letter-spacing: 0.03em;
  border-style: solid;
  border-width: 0;
  border-radius: 4px;
  padding: 6px 22px;
  color: var(--main-color-text);
  background-color: #F5F4FA;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons__nav:focus, .buttons__nav:hover {
  color: var(--additional-color);
  background-color: var(--accent-color-text);
}

/*# sourceMappingURL=main.css.map *//*# sourceMappingURL=main.css.map */