:root {
    --main-color-text: #212121;
    --accent-color-text: #2196F3;
    --secondary-color-text: #757575;
    --additional-color: #ffffff;
    --background-color: #2F303A;
}

body {
    background-color: var(--additional-color);
    color: var(--main-color-text);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin-top: 0;
    margin-bottom: 0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 480px) {
        width: 480px;
    }
    @media screen and (min-width: 768px) {
        width: 768px;
    }
    @media screen and (min-width: 1200px ) {
        width: 1200px;
    }
}

.header {
    position: relative;
    display: flex;
    align-items: center;
    
    @media screen and (max-width: 767px) {
        justify-content: space-between;
    }
    @media screen and (min-width: 768px) {
        justify-content: space-between;
    }
    @media screen and (min-width: 1200px) {
        display: flex;
        justify-content: space-between;

    }
}

.logo {
    text-decoration: none;
    font-family: Raleway, cursive;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.07;
    color: var(--accent-color-text);
}

.logo-color-top {
    color: var(--main-color-text);
}

.logo-color-footer {
    color: var(--additional-color);
}
.menu-button {
    display: block;
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;

    @media screen and (min-width: 768px) {
        display: none;
    }
}
.menu-button .icon-corss{
    display: none;
}
.menu-button.is-open .icon-corss {
    display: block;
}
.menu-button.is-open .icon-menu {
    display: none;
}

.menu-container { 
    align-items: center;
    width: 100%;

    &.is-open {
        display: block;
    }

    @media screen and (max-width: 767px) {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;

    }
    @media screen and (min-width: 768px) {
        display: flex;
        flex-grow: 1;
        justify-content: space-between;

    }
    @media screen and (min-width: 1200px) {
        display: flex;
        justify-content: space-between;

    }
}

.contacts-header__style {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-color-text);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 768px ) {
        font-size: 12px;
        line-height: 1.16;
    }
}

.contacts-header {
    list-style-type: none;


    &__mail-icon {
        margin-right: 10px;
        width: 16px;
        height: 12px;
        fill: currentColor;

        @media screen and (min-width: 768px ) {
        width: 14px; 
        height: 10px;
        margin-right: 8px;
        }
    }

    &__phone-icon {
        margin-right: 10px;
        width: 10px;
        height: 16px;
        fill: currentColor;

        @media screen and (min-width: 768px ) {
            width: 10px; 
            height: 14px;
            margin-right: 8px;
        }
    }


    &__style:hover,
    &__style:focus {
        color: var(--accent-color-text);
    }
    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        margin-left: auto ;
        padding-left: 0;
    }
    @media screen and (min-width: 1200px) {
        padding-left: 0;
        display: flex;
        flex-direction: row;
    }
}

.site-nav {
     display: flex;
    list-style-type: none;
    padding-left: 0;

    &__item:not(:last-child) {
        margin-right: 50px;
    }

    &__link {
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;

        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        text-decoration: none;
        list-style-type: none;
        color: var(--main-color-text);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    }

    &__link:hover,
    &__link:focus {
        color: var(--accent-color-text);
    }

    &__link--accent {
        position: relative;
        color: var(--accent-color-text);
    }

    &__link--accent::after {
        position: absolute;
        content: '';
        display: block;
        width: 100%;
        height: 4px;
        background-color: var(--accent-color-text);
        left: 0;
        bottom: 0;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        border-radius: 2px;
    }
    
    @media screen and (min-width: 768px) {
margin-right: 84px;
    }
}
.hero {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url('../images/main.jpg');
    background-color: var(--background-color);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;

    &__header {
        text-align: center;
        align-items: center;
        width: 696px;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: var(--additional-color);
        margin-left: auto;
        margin-right: auto;
    }

    &__button {
        font-weight: 700;
        font-size: 16px;
        line-height: 1.18;
        letter-spacing: 0.06em;

        background: var(--accent-color-text);
        color: var(--additional-color);

        width: 200px;
        height: 50px;
        left: 700px;
        top: 430px;

        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        margin-top: 30px;
        border: transparent;
        cursor: pointer;

    }
}
.backdrop {
    padding: 93px 15px 94px 15px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow-y: scroll;
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) translateY(-100%);
}

.modal {
    text-align: start;
    padding: 40px;
    width: 528px;
  
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms;

   @media screen and (min-width: 768px) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 450px;
        width: 100%;
    }
    @media screen and (min-width: 1200px) {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              max-width: 450px;
              width: 100%;
    }


    &__button {
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        padding: 6px;
        margin-top: 8px;
        margin-right: 8px;
        cursor: pointer;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        background: var(--additional-color);
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
    }

    &__button:hover {
        fill: var(--accent-color-text);
    }

    &__icon-close {
        width: 18px;
        height: 18px;
    }

    &__tittle {
        font-size: 20px;
        line-height: 1.15;
        margin-bottom: 12px;
        color: var(--main-color-text);
    }
}
.form {
    display: block;

    &__input {
        width: 100%;
        height: 40px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        box-sizing: border-box;
        border-radius: 4px;
        padding-left: 40px;
        cursor: pointer;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

        color: var(--main-color-text);
    }

    &__label {
        display: block;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.01em;
        margin-bottom: 4px;

        letter-spacing: 0.01em;
        color: var(--secondary-color-text);

    }

    &__field {
        position: relative;
        margin-bottom: 10px;
    }

    &__icons {
        position: absolute;
        width: 18px;
        height: 18px;
        top: 50%;
        left: 15px;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__input:focus~&__icons {
        fill: var(--accent-color-text);
    }

    &__comments {
        display: block;
        min-height: 120px;
        width: 100%;
        padding: 12px 16px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        box-sizing: border-box;
        border-radius: 4px;
        resize: none;
        cursor: pointer;
    }

    &__comments::placeholder {
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.01em;

        color: rgba(117, 117, 117, 0.5);
    }

    &__checkbox {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    &__checkbox:checked+&__agreement::before {
        background-image: url('../images/icon-check.svg');
        background-color: var(--accent-color-text);
        background-size: contain;
        background-repeat: no-repeat;
        background-origin: border-box;
        border-color: transparent;
    }

    &__agreement {
        display: flex;
        align-items: center;
        cursor: pointer;
        justify-content: center;
        font-size: 14px;
        line-height: 1.7;
        margin-bottom: 30px;

        color: var(--secondary-color-text);
    }

    &__agreement::before {
        display: inline-block;
        content: '';
        width: 16px;
        height: 15px;
        border: 2px solid var(--main-color-text);
        border-radius: 2px;
        margin-right: 8.38px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__conditions {
        color: var(--accent-color-text);
    }

    &__submit-button {
        display: flex;
        justify-content: center;

        font-size: 16px;
        line-height: 1.9;
        width: 200px;
        padding: 10px 55px;
        margin-left: auto;
        margin-right: auto;
        color: var(--additional-color);
        background-color: var(--accent-color-text);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border-width: 0;
        cursor: pointer;
    }
}
.features {

    padding-top: 94px;
    padding-bottom: 94px;
}
.features-list{
    list-style-type: none;
    padding-left: 0;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }

    &__tittle {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        color: var(--main-color-text); 
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    &__text {
        font-size: 14px;
        line-height: 1.7;
        color: var(--secondary-color-text);
    }
    &__item {
        margin-right: 30px;

    @media screen and (min-width: 768px) {
        width: calc((100% - 2 * 30px) / 2);
        margin: 15px;
    }
    @media screen and (min-width: 1200px) {
        margin: 15px;
        width: 270px;
    }
    }
    &__item:not(:last-child) {
        @media screen and (max-width: 767px) {
            margin-bottom: 30px;
        }
    }
    &__item:last-child{
    margin-right: 0;
    }
    &__item::before{
        display: block;
        content: '';
        height: 120px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        background-color: #F5F4FA;
        margin-bottom: 30px;
        border-radius: 4px;
    }
}

.icon-details::before {
    background-image: url('../images/group1.svg');
}
.icon-time::before{
    background-image: url('../images/group2.svg');
}
.icon-plans::before {
    background-image: url('../images/group3.svg');
}
.icon-tech::before{
    background-image: url('../images/group4.svg');
}
.our-work {
    padding-bottom: 94px;
    &__tittle {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        letter-spacing: 0.03em;
        color:var(--main-color-text);
        text-align: center;
        margin-bottom: 50px;
    }
}
.work {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    &__item + &__item {
        margin-left: 30px;
    }
    &__thumb {
        position: relative;
    }
    &__desktop {
        position: absolute;
        top: 75%;
        width: 370px;
        height: 70px;
        background: rgba(47, 48, 58, 0.8); 
        padding-top: 27px;
        padding-bottom: 27px;  
     
    
        font-size: 14px;
        line-height: 1.14;
        text-align: center;
        text-transform: uppercase;
    
        color: var(--additional-color);
    }
    &__mobile{
        position: absolute;
        top: 75%;
        width: 370px;
        height: 70px;
        background: rgba(47, 48, 58, 0.8); 
        padding-top: 27px;
        padding-bottom: 27px;  
    
        font-size: 14px;
        line-height: 1.14;
        text-align: center;
        text-transform: uppercase;
    
        color: var(--additional-color);
    
    
    }
    &__design{
        position: absolute;
        top: 75%;
        width: 370px;
        height: 70px;
        background: rgba(47, 48, 58, 0.8); 
        padding-top: 27px;
        padding-bottom: 27px;  
      
        font-size: 14px;
        line-height: 1.14;
        text-align: center;
        text-transform: uppercase;
    
        color: var(--additional-color);
    
    }
    @media screen and (min_width: 768px) {
        
    }
}
.team {
    background: #F5F4FA;
    padding-bottom: 94px;
    padding-top: 94px;
 
 

    &__header {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        letter-spacing: 0.03em;
        text-align: center;
        margin-bottom: 50px;
        
        
        color: var(--main-color-text);
        }
}

.team-box {
    list-style-type: none;
    padding-left: 0;

    @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    }
    @media screen and (min-width: 1200px) {
        display: flex;
        flex-wrap: nowrap;
        margin:-15px;
    }


&__item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--additional-color);

    @media screen and (min-width: 768px) {
        width: calc((100% - 2 * 30px) / 2);
        margin: 15px;
    }
    }
    &__tittle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--main-color-text);
    margin-bottom: 10px;
    }
    &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    color: var(--secondary-color-text);
    }
    &__description {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px ;
    }
}

.social-list {
display: flex;
justify-content: center;
list-style: none;
padding-left: 0;
margin-top: 16px;

&__link {
    width: 44px;
    height: 44px;
    display: block;
    padding: 12px;
    color: #AFB1B8;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__item  {
    margin-right: 10px;
    }
    &__link:hover,
    &__link:focus{
    color: var(--additional-color);
    background-color: var(--accent-color-text);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
}
.clients {
    padding-top: 94px;
    padding-bottom: 94px;
    
}

.clients-list { 
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left: 0;

    @media screen and (min-width: 480px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
        }


    &__link {
        display:flex;
        justify-content: center;
        color: #AFB1B8;
        width: 170px;
        height: 92px;
        border: 1px solid #AFB1B8;
        border-radius: 4px;
        padding: 16px 32px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__tittle{
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        margin-bottom: 50px;
    }
    &__icon{
        fill: currentColor;
        width: 106px;
        height: 60px;
    
    }
    &__link:hover,
    &__link:focus {
        color: var(--accent-color-text);
        border: 1px solid var(--accent-color-text);
    }
    
    &__item{
        @media screen and (min-width: 480px) {
            width: calc((100% - 2 * 30px) / 2);
            margin: 15px;
        }
        @media screen and (min-width: 768px) {
            width: calc((100% - 3 * 30px) / 3);
            margin: 15px;
        }
    }

}
.footer {
    background-color: var(--background-color);
    display: flex;

    &__style {
        text-align: center;
        padding-top: 60px;
        padding-bottom: 60px;

    }
    &__logo {
        display: block;
        margin-bottom: 20px;
        text-decoration: none;
        font-family: Raleway, cursive;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2;
        color: var(--accent-color-text);
    }
    &__adress {
        display:block;
        font-style: normal;
        font-size: 14px;
        line-height: 1.7;
        color: var(--additional-color);
        margin-bottom: 9px;
        
    }
    &__contacts {
        display: block;
        font-size: 14px;
        font-style: normal;
        line-height: 1.7;
        color: rgba(255, 255, 255, 0.6);
        text-decoration: none;
    }
    &__contacts + &__contacts{
        margin-top: 9px;
    }
} 
.footer-socials {
    display: block;
    &__link {
        display:inline-block;
        padding: 12px;
        width:44px ;
        height: 44px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__tittle {
        text-transform: uppercase;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        color: var(--additional-color);
        margin-bottom: 20px;
        margin-top: 60px;
    }
    &__link:hover,
    &__link:focus {
        background-color:var(--accent-color-text);
    }
    &__icon {
        width: 20px;
        height: 20px;
        fill: var(--additional-color);
    }
    
    &__list {
        justify-content: center;
        list-style: none;
        padding-left: 0;
        display: flex;
        flex-direction: row;
        margin-bottom: 60px;
}
}
.form-footer {
    margin-left: auto;
    margin-top: 12px;
    &__header {

        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-bottom: 20px;
    
        color:var(--additional-color);
    }
    &__subscribe {
        display: inline-flex;
        align-items: center;
    
        font-size: 16px;
        line-height: 1.9;
        letter-spacing: 0.06em;
        align-items: center;
        text-align: center;
    
        width: 200px;
        height: 50px;
        padding: 10px 28px ;
        border-width: 0;
    
        background: var(--accent-color-text);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        margin-left: 12px;
    
        color: var(--additional-color);
        text-decoration: none;
        cursor: pointer; 
    }
    &__subscribe::after {
        content: '';
        width: 24px;
        height: 24px;
        margin-left: 10px;
        background-image: url('../images/icon-send.svg');
        background-size: contain;
    }
    &__email {
        width: 100%;
        height: 50px;
        padding: 15px 16px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        box-sizing: border-box;
        margin-bottom: 20px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        background-color: var(--background-color);
        color: var(--additional-color);
    }
    &__email::placeholder {
        font-size: 16px;
        line-height: 1.25;
    
        color: rgba(255, 255, 255, 0.6);
    }
}


