.features {

    padding-top: 94px;
    padding-bottom: 94px;
}
.features-list{
    list-style-type: none;
    padding-left: 0;
    display: flex;

    &__tittle {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        color: var(--main-color-text); 
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    &__text {
        font-size: 14px;
        line-height: 1.7;
        color: var(--secondary-color-text);
    }
    &__item {
        width: 270px;
        margin-right: 30px;
    
    }
    &__item:last-child{
    margin-right: 0;
    }
    &__item::before{
        display: block;
        content: '';
        height: 120px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        background-color: #F5F4FA;
        margin-bottom: 30px;
        border-radius: 4px;
    }
}

.icon-details::before {
    background-image: url('../images/group1.svg');
}
.icon-time::before{
    background-image: url('../images/group2.svg');
}
.icon-plans::before {
    background-image: url('../images/group3.svg');
}
.icon-tech::before{
    background-image: url('../images/group4.svg');
}
