.modal {
  text-align: start;
  padding: 40px;
  width: 528px;

  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms;

  @media screen and (min-width: 768px) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 450px;
    width: 100%;
  }

  @media screen and (min-width: 1200px) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 450px;
    width: 100%;
  }


  &__button {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 6px;
    margin-top: 8px;
    margin-right: 8px;
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background: var(--additional-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
  }

  &__button:hover {
    fill: var(--accent-color-text);
  }

  &__icon-close {
    width: 18px;
    height: 18px;
  }

  &__tittle {
    font-size: 20px;
    line-height: 1.15;
    margin-bottom: 12px;
    color: var(--main-color-text);
  }
}