.team {
    background: #F5F4FA;
    padding-bottom: 60px;
    padding-top: 60px;

@media screen and (min-width: 1200px) {
    padding-bottom: 94px;
    padding-top: 94px;
}


    &__header {
        font-size: 28px;
        line-height: 1.17;

        text-align: center;
        margin-bottom: 30px;

        color: var(--main-color-text);
        @media screen and (min-width: 1200px) {
                font-size: 36px;
                line-height: 1.16;
                margin-bottom: 50px;
            }
        
        
    }
}

.team-box {
    list-style-type: none;
    padding-left: 0;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }


    &__item {
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
            0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        background-color: var(--additional-color);

        @media screen and (min-width: 768px) {
            width: calc((100% - 2 * 30px) / 2);
            margin: 15px;
        }
        @media screen and (min-width: 1200px) {
            width: calc((100% - 4 * 30px) / 4);
            margin: 15px;
        }
    }

    &__item:not(:last-child){
        @media screen and (max-width:767px) {
            margin-bottom: 30px;
        }

    }
    &__tittle {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.9;
        letter-spacing: 0.03em;
        color: var(--main-color-text);
        margin-bottom: 10px;
    }

    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.19;
        color: var(--secondary-color-text);
    }

    &__description {
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.social-list {
    display: flex;
    justify-content: center;
    list-style: none;
    padding-left: 0;
    margin-top: 16px;

    &__link {
        width: 44px;
        height: 44px;
        display: block;
        padding: 12px;
        color: #AFB1B8;
        border-radius: 50%;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__icon {
        width: 20px;
        height: 20px;
        fill: currentColor;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__item {
        margin-right: 10px;
    }

    &__link:hover,
    &__link:focus {
        color: var(--additional-color);
        background-color: var(--accent-color-text);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
}